<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Futuristics</title>
</head>

<body>
    <h1 class="title">Futurists GmbH</h1>
    <header class="navbar">
        <a href="">Haus</a>
        <div class="vl"></div>
        <a href="">Produkte</a>
        <div class="vl"></div>
        <a href="">Über uns</a>
        <div class="vl"></div>
        <a href="">Jobangebote</a>
        <div class="vl"></div>
        <a href="">Kontakt</a>
    </header>

    <div class="welcome-container">
        <h2>Willkomen auf unserer Webseite</h2>
        <p>Bekannt als ein Elektronikanbieter verkaufen wir die neusten Produkte, welche derzeit im Trend stehen, dies
            zu einem günstigen Preis! Unser Ziel ist es die Konsumenten mit den Produkten zufrieden zu stellen und ihnen
            die Möglichkeit bieten, im Fluss der Zeit mittreiben zu können.</p>
    </div>

    <div class="container-1">
        <img src="static/cds_discman_bild.jpg" alt="" class="img-left">
        <p>Wir bieten Ihnen alles an, was man sich bezüglich der elektronischen Hilfsmittel bei uns vorstellen kann. Vom
            allsatzbekannten Commodore 64, welche man heutzutage in der Büroarbeit benötigt aber auch seit kurzem in den
            eigene Wohnungen langsam seinen Platz findet, bis hin zum neuesten Modell des Discmans, um die Alben mit
            Ihrer Lieblingsmusik in neuster Fassung besser hören zu können. Es gibt nichts, was wir Ihnen in unserem
            Unternehmen nicht anbieten können.</p>
    </div>

    <div class="container-2">
        <p>Bezüglich der Geschichte des Unternehmens sieht sie folgendermaßen aus: <br>Futuristcs GmbH wurde 1954 von
            den Mitgliedern [Name einfügen] und [Name einfügen] gegründet mit dem Ziel, die neusten Technologien, welche
            derzeitig existieren, an die kleinen und mittelständischen Unternehmen anbienten zu können. Dabei merkte
            man, dass die Technologien nicht nur an den Unternehmen ein großes Interesse weckte, sondern auch an den
            einzelnen Konsumenten, weshalb man die Zielgruppe erweiterte und somit auch die kleineren Personengruppen
            angesprochen wurden. Seitdem her werden die elektronischen Gütern wie warme Semmeln verkauft, wozu dies die
            Futuristic GmbH in die Fassung brachte, wofür man sie heutzutage kennt. <br> <span>Aber dies ist alles nur
                erfunden, um den Leuten einzutrichtern, wie toll diese Firma auch sein mag, damit diese wie die letzten
                Schafe an das Gras dieser Kapitalisten sich ernähren können.</span></p>
    </div>

    <div class="footer">
        <a href="">Home</a>
        <div class="vl"></div>
        <a href="">Über uns</a>
        <div class="vl"></div>
        <a href="">Kontakt</a>
        <div class="vl"></div>
        <a href="">Hilfe</a>
        <div class="vl"></div>
        <a href="">FAQ</a>
        <div class="vl"></div>
        <a href="">Impressum</a>
    </div>

</body>

</html>